.wrapp-print-bin {
    position: sticky;
    top: 0;
    padding: 5px;
}

.header-train {
    display: flex;
    justify-content: center;
    text-align: center;
}


.refNo {
    position: absolute;
    right: 10px;
    top: 40px;
    display: grid;
    grid-template-columns: auto 100px;
    font-size: 10px;
    font-weight: bold;
}

.break-page {
    page-break-before: avoid;
}

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.line {
    border-bottom: 2px solid;
    margin-left: 10px;
    width: 200px;
}

#text-checkboxes {
    font-size: 10px;
    margin-left: 10px;
}

.md-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.line-dash {
    border-bottom: 1px dashed #000;
}

.text-bold {
    font-weight: bold;
}

.header-form002 {
    margin-top: 1%;
    position: fixed;
    top: 0px;
    right: 15px;
}

.report-course-table thead th,
.report-course-table tbody td {
    border-width: 0.5px;
    border-style: solid;
    border-color: #D8D9DA;
}

@media print {
    .wrapp-print-bin {
        display: none;
        /* ซ่อน  */
    }
}